*{
  margin: 0;
  padding: 0;
}

body{
  background-color:#18191f;
}

p{
  margin: 100px 0 0 80px;
  font-family: 'Neonderthaw', cursive;
  color: #fff;
  font-size: 3rem;
  text-shadow: 2px 2px 2px #00ff80,
  2px 1px 12px #00ff80,
  2px 2px 10px  #00ff80,
2px 2px 3px  #00ff80;
  animation: animate 4s linear infinite;

}
.container{
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.logo{
  margin: 0 40px;
  padding: 11px 19px;
  border-radius: 30px;
  position: relative;
  color: #fff;
  font-size: 5rem;
  box-shadow: 2px 2px 2px #00ff80,
  2px 1px 12px #00ff80,
  2px 2px 10px  #00ff80,
2px 2px 3px  #00ff80,
 inset 0px 0px 10px 5px #00ff80;
  animation: animate 4s linear infinite;
}

#mail{
  animation-delay: 0.8s;
}
#instagram{
  animation-delay: 0.4s;
}
#apple{
  animation-delay: 0.2s;
}
#github{
  animation-delay: 1.2s;
}
#facebook{
  animation-delay: 0.6s;
}
#twitter{
  animation-delay: 1s;
}

@keyframes animate {
  0%{filter: hue-rotate(0deg);}
  100%{filter: hue-rotate(360deg);}

}
